html,
body {
    font-family: $font-family;
    font-size: $font-size;
}

.bg-primary {
    background-color: $primary-color;
}

.bg-create {
    background-color: $create-color;
}

.bg-manage {
    background-color: $manage-color;
}

.bg-grey {
    background: $grey-color;
}

.text-grey {
    color: $grey-color;
}

.text-white {
    color: $white-color;
}