html,
body {
    font-family: $font-family;
    font-size: $font-size;
}

.bg-primary {
    background-color: $color-primary;
}

.bg-create {
    background-color: $color-create;
}

.bg-manage {
    background-color: $color-manage;
}

.bg-grey {
    background: $color-grey;
}

.text-grey {
    color: $color-grey;
}

.text-white {
    color: $color-white;
}