.home-header {
  height: 300px;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 1.1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  img {
    margin-bottom: 40px;
  }
}

.basic-header {
  height: 50px;
  width: 100%;

  div {
    display: flex;
    margin-left: 30%;
  }
  
  img {
    height: 50px;
    width: 50px;
  }

  span {
    margin: auto 20px;
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    @media (max-width: 1400px){
      width: 100%;
    }
  }
}
