@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

// Colors
$primary-color: #ebc25e;
$create-color: #8ee6e5;
$manage-color: #a7db87;
$grey-color: #cccccc;
$white-color: #ffffff;

// Text
$font-family: Balsamiq Sans;
$font-size: 16px;
