@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

// Colors
$color-primary: #ebc25e;
$color-create: #8ee6e5;
$color-manage: #a7db87;
$color-grey: #cccccc;
$color-dark-grey: darken($color-grey, 20);
$color-white: #ffffff;
$color-red: red;
$color-green: green;

// Text
$font-family: Balsamiq Sans;
$font-size: 16px;
